name: "Deploy website"
on:
  # schedule:
  # - cron: "19 */6 * * *"
  # push:
  #   branches:
  #   - "deploy"
  workflow_dispatch: {}
jobs:
  "deploy":
    name: "Build and deploy"
    timeout-minutes: 5
    runs-on: "ubuntu-latest"
    steps:
    - name: "Print environment"
      run: |
        printenv
        pwd
    - name: "Checkout roar"
      uses: "actions/checkout@v4"
      with:
        repository: "RobloxAPI/roar"
        path: "roar"
    - name: "Checkout ref"
      uses: "actions/checkout@v4"
      with:
        ref: "gh-pages"
        path: "ref"
    - name: "Checkout build-archive"
      uses: "actions/checkout@v4"
      with:
        repository: "RobloxAPI/build-archive"
        path: "build-archive"
    - name: "Cache history"
      uses: "actions/cache@v4"
      with:
        path: |
          roar/site/data/history.json
        key: "history"
    - name: "Setup Go"
      uses: "actions/setup-go@v4"
      with:
        go-version-file: "roar/go.mod"
        cache-dependency-path: |
          roar/go.sum
    - name: "Setup Hugo"
      uses: "peaceiris/actions-hugo@v2"
      with:
        hugo-version: "0.119.0"
        extended: true
    - name: "Build roar"
      run: |
        go build -C "roar" -v -o "../bin/roar" "./cmd/roar"
    - name: "Generate data"
      run: |
        bin/roar generate \
        --site "roar/site" \
        --source "build-archive/data/" \
        --docs "https://github.com/Roblox/creator-docs" \
        --update
    - name: "Build website"
      run: |
        hugo \
        --logLevel info \
        --minify \
        --source "roar/site" \
        --destination "ref"
    - name: "Commit and push website"
      run: |
        cd "ref"
        git config user.email 'github-actions@github.com'
        git config user.name 'github-actions'
        git add -A
        git commit -m 'Update reference.'
        git push
